DB_HOST=localhost
DB_PORT=3306
DB_NAME=toko_rini
DB_USER=root
DB_PASS=

APP_NAME=Toko Rini
APP_URL=http://localhost
APP_ENV=development

WHATSAPP_NUMBER=6285249296758
STORE_ADDRESS=Jl. Contoh No. 1, Surakarta, Jawa Tengah
MAPS_EMBED_URL=https://maps.google.com/maps?q=-7.5755,110.8243&z=15&output=embed
